/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: "Tech Ethics";
  src: url("./fonts/techethics.woff2") format("woff2"),
       url("./fonts/techethics.woff") format("woff");
}


/* ==========================================================================
   Variables 
   ========================================================================== */

:root {
  --red: #EB0C4B;
  --red-dark: #981037;
  --red-darker: #6F2232;
  --red-darkest: #47121D;

  --orange: #FF5013;
  --orange-dark: #C83D0D;
  --orange-darker: #942E0A;
  --orange-darkest: #521906;

  --yellow: #FDE543;
  --yellow-dark: #A6940A;
  --yellow-darker: #6C6004;
  --yellow-darkest: #39330A;

  --green: #11C17B;
  --green-dark: #0C8F5B;
  --green-darker: #0A6944;
  --green-darkest: #07482E;

  --blue: #15B4FC;
  --blue-dark: #1287BC;
  --blue-darker: #0A5D83;
  --blue-darkest: #003F5B;

  --gray: #EAEAEA;
  --gray-dark: #9F9F9F;
  --gray-darker: #535353;
  --gray-darkest: #242424;

  --transition: cubic-bezier(0.4, 0.0, 0.2, 1);
  --transition-in: cubic-bezier(0.0, 0.0, 0.2, 1);
  --transition-out: cubic-bezier(0.4, 0.0, 1, 1);

  --text-size-demo: 16px;
}


/* ==========================================================================
   Tags
   ========================================================================== */

* {
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html { font-size: 100%; }

@media (min-width: 50em) {
  html { font-size: 130%; }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

body > aside {
  width: 10em;
  background-color: white;
  border-right: 1px solid var(--gray);
  top: 0;
  position: fixed;
  left: 0;
  height: 100%;
}

body > main { padding-left: 10em; }

section {
  border-bottom: 1px solid var(--gray);
  padding: 2em;
}

section header {
  background-color: var(--gray);
  margin: -2em;
  margin-bottom: 1em;
  padding: 2em;
}

section > h2, section > h3 {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 5px;
  margin-top: 3rem;
}

p {
  max-width: 36em;
  line-height: 140%;
}

pre, code { font-family: "Dank Mono", "Source Code Pro", "Roboto Mono", "SF Mono", monospace; }

/* ==========================================================================
   Global focus / selection
   ========================================================================== */

/* Don't show the focus outline on mouse-usage focus */
:focus:not(:focus-visible) { outline: none }

::selection {
  background-color: var(--blue);
  color: white;
}

/* ==========================================================================
   Navigation bar
   ========================================================================== */

#logo {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #E2E4E6;
}

#logo > img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#main-nav {
  padding: 1rem;
  font-size: 0.84em;
  width: 100%;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav li {
  display: block;
  padding: 8px 0;
}

#main-nav a {
  display: block;
  height: 100%;
  text-decoration: none;
  position: relative;
  width: max-content;
}

#main-nav a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transform: scaleX(0);
  transform-origin: left center;
  transition: 200ms var(--transition);
}

#main-nav a:hover::after { transform: scaleX(1); }

/* ==========================================================================
   Sections
   ========================================================================== */

/* Color */
.swatches [data-color="red"] { background-color: var(--red); }
.swatches [data-color="red-dark"] { background-color: var(--red-dark); }
.swatches [data-color="red-darker"] { background-color: var(--red-darker); }
.swatches [data-color="red-darkest"] { background-color: var(--red-darkest); }

.swatches [data-color="orange"] { background-color: var(--orange); }
.swatches [data-color="orange-dark"] { background-color: var(--orange-dark); }
.swatches [data-color="orange-darker"] { background-color: var(--orange-darker); }
.swatches [data-color="orange-darkest"] { background-color: var(--orange-darkest); }

.swatches [data-color="yellow"] { background-color: var(--yellow); }
.swatches [data-color="yellow-dark"] { background-color: var(--yellow-dark); }
.swatches [data-color="yellow-darker"] { background-color: var(--yellow-darker); }
.swatches [data-color="yellow-darkest"] { background-color: var(--yellow-darkest); }

.swatches [data-color="green"] { background-color: var(--green); }
.swatches [data-color="green-dark"] { background-color: var(--green-dark); }
.swatches [data-color="green-darker"] { background-color: var(--green-darker); }
.swatches [data-color="green-darkest"] { background-color: var(--green-darkest); }

.swatches [data-color="blue"] { background-color: var(--blue); }
.swatches [data-color="blue-dark"] { background-color: var(--blue-dark); }
.swatches [data-color="blue-darker"] { background-color: var(--blue-darker); }
.swatches [data-color="blue-darkest"] { background-color: var(--blue-darkest); }

.swatches [data-color="gray"] { background-color: var(--gray); }
.swatches [data-color="gray-dark"] { background-color: var(--gray-dark); }
.swatches [data-color="gray-darker"] { background-color: var(--gray-darker); }
.swatches [data-color="gray-darkest"] { background-color: var(--gray-darkest); }

.swatches {
  display: flex;
  flex-wrap: wrap;
  max-width: 63em; /* 3 colors side by side */
}

.swatches > div {
  display: flex;
  margin-right: 1em;
  flex-wrap: wrap;
  width: 20em;
}

.swatches h4 {
  flex-basis: 100%;
  margin-bottom: 0.4em;
}

.swatches article > button {
  display: block;
  width: 5rem;
  height: 5rem;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  color: white;
}

.swatches article > button:hover {
  font-size: 1rem;
  cursor: pointer;
}

.swatches article > button:active {
  font-size: 0.75rem;
}

.swatches article p {
  margin-top: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
#typography table {
  border-collapse: separate;
  border-spacing: 0 1em;
  font-size: var(--text-size-demo);
}

#typography td {
  padding-right: 2rem;
  font-size: 1rem;
}

#typography #text-size-h1 { font-size: 3.157em; }
#typography #text-size-h2 { font-size: 2.369em; }
#typography #text-size-h3 { font-size: 1.777em; }
#typography #text-size-h4 { font-size: 1.333em; }

#typography #text-size-h5 { 
  font-size: 1em;
  font-weight: 600;
}

#typography #text-size-h6 {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
}

#typography #text-size-p { font-size: 1em; }

#typography #text-size-small { font-size: 0.75em; }

#typography .font-sample-te {
  font-family: "Tech Ethics";
  font-size: 30px;
}

#typography .font-sample-scp {
  font-family: "Source Code Pro";
}
